body {
    text-align: center;
    text-transform: uppercase;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #aaa;
    margin: 20px 0;
    padding: 10px;
    width: 100%;
    min-height: 300px;
    border: 2px #ccc solid;
    color: #fff;
}

.box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #aaa;
    margin: 20px 0;
    padding: 10px;
    width: 100%;
    height: auto;
    min-height: 100px;
    border: 2px #ccc solid;
    color: #fff;
}

.box2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #aaa;
    margin: 5px 0;
    padding: 10px;
    width: 100%;
    min-height: 50px;
    border: 2px #ccc solid;
    color: #fff;
}

.box3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #aaa;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    min-height: 50px;
    border: 2px #ccc solid;
    color: #fff;
}